# Environment Variables

# Database URL
DATABASE_URL=''

# Secret Key
SECRET_KEY=''

# Debug Mode
DEBUG=False

# Allowed Hosts
ALLOWED_HOSTS=''

# Other services
SERVICE_URL=''

# Third-party API keys
THIRD_PARTY_API_KEY=''